.container,
.container-fluid {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #111;
}

.navbar > .container-fluid {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

iframe {
  border: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.target {
  width: 50%;
  height: 200px;
  border: solid black 1px;
}
.target > div {
  display: none;
}

.target > div:target {
  display: block;
}
